html {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 16px;
    color: black;
}

body {
    width: 100%;
    margin: 0;
    background-color: white;
}

h1, h2, h3, h4, h5 , h6 {
    margin: 0;
    padding: 0.5rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.0rem;
}

h1, h2 {
    font-weight: 700;
}

h3, h4 {
    font-weight: 500;
}

h5, h6 {
    font-weight: 400;
}

 /* header */

header {
    margin-top: 15px;
    height: 150px;
    overflow: hidden;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1.5rem 0;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}

nav a:hover {
    color: gray;
}

/* Main - Mission */

main {
    padding-top: 10px;
    opacity: 0.9;
}

.mission {
    display: flex;
    height: 26.25rem;
    background-image: url(../images/mission-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0.5rem;
    overflow: hidden;
    width: 1550px;
}

.mission-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mission-content {
    background-color: white;
    margin: auto;
    width: 100%;
}

/* Main - Choices */

.choices {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.choices-head {
    padding: 1rem;
}

.choice-containers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.choice {
    width: 300px;
    height: 420px;
    margin: 15px 20px;
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    color: white !important;
    overflow: hidden;
}

.choice picture {
    display: flex;
    justify-content: center;
    height: 75%;
    width: auto;
    width: 250px;
    overflow: hidden;
}